@using ObCore.Helpers
@using ObMobile
@using ObMobile.Helpers
@{
	ViewBag.Title = "OtakuBooty | Clitter";
	var currentMember = Session.CurrentObMember();  
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Le styles -->
	<link href="/Content/css/bootstrap.css" rel="stylesheet">
	<link href="/Content/css/ob-mobile.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>
	<link href="/Content/css/bootstrap-responsive.css" rel="stylesheet">
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!-- Le fav and touch icons -->
	<!--	
	<link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	-->
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
@if (Session.IsObLoggedIn()) {
						<text><strong>@currentMember.Login</strong> [ <a href="/Session/End">Log Out</a> ]</text>
}

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				
				<a class="brand" href="#">Clitter</a>

				<div class="nav-collapse">
					<!--
						<ul class="nav">
							<li @Html.Raw(Html.CurrentControllerIs("Home") ? "class=\"active\"" : String.Empty)><a href="#">Home</a></li>
							<li @Html.Raw(Html.CurrentControllerIs("Message") ? "class=\"active\"" : String.Empty)><a href="/Message">Messages</a></li>
							<li @Html.Raw(Html.CurrentControllerIs("Fop") ? "class=\"active\"" : String.Empty)><a href="/Fop">FOPs</a></li>
							<li @Html.Raw(Html.CurrentControllerIs("Phone") ? "class=\"active\"" : String.Empty)><a href="/Phone">Phone List</a></li>
						</ul>
						-->

				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		@if (TempData.Peek(Flash.Alert) != null) {
			<div class="alert">
			<button class="close" data-dismiss="alert">×</button>
			@TempData["Alert"]
			</div>
		}
		@if (TempData.Peek(Flash.Error) != null) {
			<div class="alert alert-error">
			<button class="close" data-dismiss="alert">×</button>
			@TempData["Error"]
			</div>
		}
		@if (TempData.Peek(Flash.Success) != null) {
			<div class="alert alert-success">
			<button class="close" data-dismiss="alert">×</button>
			@TempData["Success"]
			</div>
		}
		@if (TempData.Peek(Flash.Info) != null) {
			<div class="alert alert-info">
			<button class="close" data-dismiss="alert">×</button>
			@TempData["Info"]
			</div>
		}
		
		@RenderBody()
	</div>
	<script src="/Content/js/jquery-1.7.2.min.js"></script>
	<script src="/Content/js/bootstrap.js"></script>
	<script type="text/javascript">
		$().ready(function () {
			$('*[data-id-member]').click(function (e) {
				window.location.href = '/Member/' + $(e.currentTarget).data('id-member');
			});
			$('*[data-id-comment]').click(function (e) {
				window.location.href = '/Comment/' + $(e.currentTarget).data('id-comment');
			});
			$('*[data-id-message]').click(function (e) {
				window.location.href = '/Message/' + $(e.currentTarget).data('id-message');
			});
			$('*[data-id-post]').click(function (e) {
				window.location.href = '/Post/' + $(e.currentTarget).data('id-post');
			});
		}
		)
	</script>
</body>
</html>
