@model IEnumerable<ObCore.Models.MessageNotification>
@using ObCore.Helpers
@{
	ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class=" table table-striped table-condensed">
	@foreach (var item in Model) {
		<tr>
			<td>
				@item.IdPictureMember.
				@Html.DisplayFor(modelItem => item.IdPictureMember)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Login)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EventTimeRelative)
			</td>
			<td>
				<strong>@Html.DisplayFor(modelItem => item.Subject)</strong>
				<p>
					@Html.DisplayFor(modelItem => item.Body)
				</p>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EventTime)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TimestampRead)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdMemberFrom)
			</td>
			<td>
				@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
			</td>
		</tr>
 }
</table>
