@using System.Collections.Generic
@using Clitter
@using ObCore.Models
@{
	Layout = "layout.cshtml";
	Member currentMember = RenderContext.Context.CurrentMember();
	var notificationsAll = currentMember.Notifications(0, 20, Notification.NotificationType.All);
	var notificationsBc = currentMember.Notifications(0, 20, Notification.NotificationType.BootyConClitterPosts);
}

<div class="main-tabs">
	<a href="#" data-tab-content-selector="#TabHome" class="active">
		<i class="icon-home icon-3x"></i>
		Home
	</a>
	<a href="#" data-tab-content-selector="#TabBc13">
		<i class="icon-glass icon-4x"></i>
		BCon13
	</a>
	<a href="#" data-tab-content-selector="#TabMessages"><i class="icon-envelope-alt"></i>Messages</a>
	<a href="#" data-tab-content-selector="#TabContacts"><i class="icon-phone"></i>Contacts</a>
	<a href="#" data-tab-content-selector="#TabSettings"><i class="icon-cog"></i>Settings</a>
</div>

<div class="tabs-content" id="TabContentDiv" style="padding: 1em; margin: 1em 0; border: 1px #999 solid; border-radius: 5px">
	<div id="TabHome" class="active">
		<p>
			This is the home (all) tab.
		</p>
		<p>
			Looks like you have @notificationsAll.Count notifications, dogg.
		</p>
		<ul>
			@foreach (Notification n in notificationsAll) {
				@Html.Partial("_notification.cshtml", n);
	}
		</ul>
	</div>
	<div id="TabBc13">
		<ul>
			@foreach (Notification n in notificationsBc) {
				@Html.Partial("_notification.cshtml", n);
	}
		</ul>
	</div>
	<div id="TabMessages">
		This is the messages tab
	</div>
	<div id="TabContacts">
		This is the Contacts tab
	</div>
	<div id="TabSettings">
		This is the settings tab
	</div>
</div>

@section BottomJs {

	<script type="text/javascript">
		// set perms
		var isMod = @(currentMember.IsMod ? "true" : "false");
		var isPaidOrLifetime = @(currentMember.IsPaidOrLifetimeMember ? "true" : "false");
		var isBootyCon2013 = @(currentMember.BootyCon2013 ? "true" : "false");
	</script>


}