<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>OtakuBooty: @ViewBag.Title</title>
		<link rel="stylesheet" type="text/css" href="/Content/css/jqueryui-ob-hotsneaks/jquery-ui-1.8.17.custom.css">
		<link rel="stylesheet" type="text/css" href="/Content/css/ob.css">
		<link rel="stylesheet" type="text/css" href="/Content/themes/default/theme.css">
		<link rel="shortcut icon" href="/Content/favicon.gif" type="image/gif">
		<script src="/Content/js/modernizr-2.0.6.min.js"></script>
	</head>
	<body>
	<div id="mh_outer"><div id="mh_left"><div id="mh_right"></div></div></div>
	
	@if (Request.IsAuthenticated) {
		<div id="obToolbar" class="member">
			<ul id="toolbarNav">
				<li id="themeLi" data-windowshade="#themeWindowShade" style="width: 60px">
					<a id="tbThemes" href="">Themes</a>
				</li>
				<li id="accountLi" data-windowshade="#accountWindowShade">
					<a id="tbAccount" href="/account">Account</a>
				</li>
				<li id="messageLi" data-windowshade="#messageWindowShade">
					<a id="tbMessages" href="/messages">Messages <span style="display: none" id="unseenMessagesBadge" class="badge badge-important"></span></a>
				</li>
				<li id="notificationLi" data-windowshade="#notificationWindowShade">
					<a id="tbNotifications" href="/notifications">Notifications <span style="display: none" id="unseenNotificationsBadge" class="badge badge-important"></span></a>
				</li>
			</ul>
			<div class="toolbarInputContainer">			
				<input id="superSearch" placeholder="Type member name, city, etc..." autofocus="autofocus">
			</div>
			<section id="themeWindowShade" class="windowShade wide" style="display: none;">
				<table>
					<tr>
						<td>
							<ul>
								<li>Theme 1 Goes Here</li>
								<li>Theme 2 Goes Here</li>
								<li>Theme 3 Goes Here</li>
								<li>Theme 4 Goes Here</li>
								<li>Theme 5 Goes Here</li>
								<li>Theme 6 Goes Here</li>
								<li>Theme 7 Goes Here</li>
								<li>Theme 8 Goes Here</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Theme 9 Goes Here</li>
								<li>Theme 10 Goes Here</li>
								<li>Theme 11 Goes Here</li>
								<li>Theme 12 Goes Here</li>
								<li>Theme 13 Goes Here</li>
								<li>Theme 14 Goes Here</li>
								<li>Theme 15 Goes Here</li>
								<li>Theme 16 Goes Here</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Theme 17 Goes Here</li>
								<li>Theme 18 Goes Here</li>
								<li>Theme 19 Goes Here</li>
								<li>Theme 20 Goes Here</li>
								<li>Theme 21 Goes Here</li>
								<li>Theme 22 Goes Here</li>
								<li>Theme 23 Goes Here</li>
								<li>Theme 24 Goes Here</li>
							</ul>
						</td>
					</tr>
				</table>
			
			</section>
		
			<section id="accountWindowShade" class="windowShade wide" style="display: none;">
				<table>
					<tr>
						<td>
							<h3>You</h3>
							<ul>
								<li>Signed in as: <strong>##login##</strong></li>
								<li>Paid Member, 345 Days Remaining</li>
								<li>Subscription Active (Will Renew 1/21/2113)</li>
								<li><a href="/?action=logout">Sign out of OtakuBooty</a></li>
							</ul>
							<h3>Account Actions</h3>
							<ul>
								<li>Purchase Subscription</li>
								<li>Payment History</li>
								<li>Buy Subscription For a Friend</li>
								<li>Deactivate My Account (Yeh rite)</li>
							</ul>
						</td>
						<td>
							<h3>Manage Your Profile</h3>
							<ul>
								<li>Edit Profile Information</li>
								<li>Upload Pictures</li>
								<li>Upload Friends-Only Pictures</li>
								<li>Change Member Name</li>
								<li>Change Password</li>
								<li>Items</li>
							</ul>
							<h3>Friends</h3>
							<ul>
								<li>People You've Boned</li>
								<li>People Who've Boned You</li>
								<li>People Who Are Willing To Bone You</li>
							</ul>
						</td>
						<td>
							<h3>Misc.</h3>
							<ul>	
								<li>Who Viewed My Profile?</li>
								<li>Members In My Area</li>
								<li>Members With Boyfriends<br>You Could Probably Beat Up</li>
								<li>Members Sorted By Penis Size</li>
							</ul>
						
						</td>
					</tr>
				</table>
			</section>
		
			<section id="messageWindowShade" class="windowShade narrow" style="display:none;">
				<ul class="windowShadeItems"></ul>	
			</section>
		
			<section id="notificationWindowShade" class="windowShade narrow" style="display:none;">
				<ul class="windowShadeItems"></ul>
			</section>
		</div>

 }
 else {

		<div id="obToolbar" class="nonmember">
			<div class="toolbarInputContainer" id="nonMemberToolbarSearch">
				<form method="post">
					<input type="hidden" name="action" value="login">
					Member name <input name="login">
									Password <input name="password" type="password">
												<input type="submit" value="Sign In">
				</form>
			</div>
		</div>

	}
	
	<div id="container">
		<div id="wrapper">
			<div id="content">
				@ViewBag.Flash
				@if (Request.IsAuthenticated) {
					<ul class="tabs clearfix">
						<li ##ifequal(tab,'home')##class="current"##endifequal(tab,'home')##><a href="/">Home</a></li>
						<li ##ifequal(tab,'forums')##class="current"##endifequal(tab,'forums')##><a href="forum.asp">Forums</a></li>
						<li ##ifequal(tab,'findmembers')##class="current"##endifequal(tab,'findmembers')##><a href="">Find Members</a></li>
						<li ##ifequal(tab,'chat')##class="current"##endifequal(tab,'chat')##><a href="">Chat</a></li>
						<li ##ifequal(tab,'help')##class="current"##endifequal(tab,'help')##><a href="">Help &amp;Info</a></li>
						##if(ismod)##
						<li ##ifequal(tab,'mods')##class="current"##endifequal(tab,'mods')##><a href="">Mods</a></li>
						##endif(ismod)##
					</ul>
					}
				else {
					<ul class="tabs clearfix">
						<li ##ifequal(tab,'home')##class="current"##endifequal(tab,'home')##><a href="/">Home</a></li>
						<li ##ifequal(tab,'forums')##class="current"##endifequal(tab,'forums')##><a href="forum.asp">Forums</a></li>
						<li ##ifequal(tab,'findmembers')##class="current"##endifequal(tab,'findmembers')##><a href="">Find Members</a></li>
						<li ##ifequal(tab,'join')##class="current"##endifequal(tab,'join')##><a href="">Join!</a></li>
						<li ##ifequal(tab,'help')##class="current"##endifequal(tab,'help')##><a href="">Help &amp; Info</a></li>
					</ul>
				}
			

            @RenderBody()
      </div> <!-- end #content -->
			</div> <!-- end #wrapper -->
			<aside id="sidebar">
				@ViewBag.MemberAd
				@ViewBag.OtakuBootyAd
				<div class="placeholder sidebarPlaceholder">
					<h3>
					Something Goes Here
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					</p>
					<p>
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
						aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
					</p>
				</div>
				<div class="placeholder sidebarPlaceholder">
					<h3>
					Another Thing Goes Here
					</h3>
					<p>
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
						eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
						in culpa qui officia deserunt mollit anim id est laborum.
					</p>	
				</div>
			</aside>		
			<p class="footer">
				Release ##release##.##revision## running on ##host##. Page shitted out in ##pageTimeMs##.<br>
				<script type="text/javascript">
					document.write(navigator.appCodeName
					 + ' ' + navigator.appVersion
					 + ' cookies:' + navigator.cookieEnabled
					 + ' ' + navigator.platform
					 + ' ' + navigator.userAgent);
				</script>
			</p>
		</div> <!-- end #container -->

		<div id="obToolbarAutocomplete"></div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		@if (Request.IsAuthenticated) {
			<script type="text/javascript">
				lastMessageSeen =  @ViewBag.LastMessageSeen;
				lastMessageSeenEpochServer = @ViewBag.xxx;
				lastNotificationSeen = @ViewBag.xxx;
				lastNotificationSeenEpochServer = @ViewBag.xxx;
				unseenMessageCount = @ViewBag.xxx;
				unseenMessageCount = @ViewBag.xxx;
				unseenNotificationCount = @ViewBag.xxx;
				unseenNotificationCount = @ViewBag.xxx;
				//toolbarNotificationsJson = '{"notifications": ##toolbarNotificationsJson##}';
				//toolbarMessagesJson = '{"messages": ##toolbarMessagesJson##}';

				toolbarNotificationsJson = '{"notifications": [{"total_unseen":0,"profile_views_unseen":0,"modded_unseen":0,"friended_unseen":0,"fops_unseen":0,"event_time_relative":"2 hours ago","event_type":"Profile View","event_time":"5/15/2012 1:56:33 AM","event_epoch":1337046992,"id_member":13784,"id_post":null,"id_post_reply_to":null,"post_subject":null,"post_body":null,"description":null,"qty":null,"param1":null,"param2":null,"param3":null,"login":"(s)Aint Chimo","id_picture_member":116478}]}';
				toolbarMessagesJson = '{"messages": [{"total_unseen":0,"messages_unseen":0,"comments_unseen":0,"last_message_seen":"5/15/2012 1:57:10 AM","login":"(s)Aint Chimo","id_picture_member":116478,"event_time_relative":"2 hours ago","event_epoch":1337047029,"body":"BC 12: Can we talk about this after I go down on you in Venice Beach?","subject":null,"event_time":"5/15/2012 1:57:09 AM","timestamp_read":null,"id_member_from":13784,"id_message":null,"id_comment":513889}]}';

			</script>
		}
		<script src="@Url.Content("~/Content/js/ob.js")"></script>
	</body>
</html>